.mat-drawer-container{
  background-color: rgba(0, 0, 0, 0.89)!important;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .mat-icon-button{
    color: aliceblue;
  }

  .example-sidenav {
    width: 200px;
    height: 100vh;
  }

  .example-container {
    height:  100vh;
  }

  .selec{
    background-color: rgb(91, 23, 14);
  }

  .img1{
    width: 150px;
    height: 180px;
  }
  .menuHorizontal{
    background-color:black;
  }

  .menuLateral{
    background-color: black;
  }

  .letter{
    color: white;
  }